<h1> Todos </h1>
<% @todos.each do |todo| %>
  <h2><%= todo.desc %></h2>
  <%= link_to 'Show Todo', todo_path(todo) %>
  <%= link_to 'Edit Todo', edit_todo_path(todo) %>
  <%= link_to 'Destroy Todo', todo, method: :delete %>
<% end %>
<p><%= link_to 'New Todo', new_todo_path %></p>

